
body{
    background:black;
    color:whitesmoke;
    text-align: center;
}


#imagen {

	border-radius: 80px;
	background: black;



}







h1 {
	border-radius: 10px;
    background: red;
    text-align: center;
	}
h1 span {
	animation: maquina 5s infinite alternate steps(10)
}
@keyframes maquina{
	from {
		width: 100%
	}
	to {
	width: 0%

	}
}
